@import "./abstracts/variables";
@import "./abstracts/globals";
@import "./abstracts/extends";
@import "./abstracts/mixins";
@import "./abstracts/utilities";

@import './components/buttons';

@import './layout/header';
@import './layout/services';
@import './layout/features';
@import './layout/testimonial';
@import './layout/dashboard';
@import './layout/pricing';
@import './layout/newsletter';
@import './layout/footer';