@use "../abstracts/helper.scss" as h;

.btn-primary {
  display: inline-block;
  padding: 1rem 3rem;
  color: h.$color-light-100;
  border: 1px solid h.$color-primary;
  background-color: h.$color-primary;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    color: h.$color-primary;
    background-color: transparent;
  }
}

.btn-newsletter {
  display: inline-block;
  padding: 1rem 2.6rem;
  color: h.$color-light-100;
  border-radius: 0 0.3rem 0.3rem 0;
  background-color: h.$color-primary;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: lighten(h.$color-primary, 10%);
  }
}
